*, *::before, *::after {
  margin: 0;
  padding: 0;
  caret-color: transparent;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  height: 100vh;
  border: 20px solid #000;
  background-color: rgb(234, 242, 234);
}

h1 {
  font-family: "Suez One", serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}

.container {
  width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
}

section {
  display: grid;
  grid-template-columns: 30% auto;
  column-gap: 30px;
  margin-top: 35px;
}

.rules {
  background-color: rgb(210, 226, 232);
  padding: 5px 10px;
}

.rules h2 {
  text-align: center;
}

.rules ul {
  margin-top: 20px;
  list-style-position: inside;
}

.rules ul li {
  margin-bottom: 10px;
}

.game-container {
  border: 2px solid #333;
  background-color: #fff;
  padding: 5px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
  display: grid;
  grid-template-columns: 80% 1fr;
}

.game-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dices {
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 45px;
  column-gap: 45px;
}

.dice {
  margin: 0 auto;
  height: 60px;
  width: 60px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dice-num {
  font-size: 4.4rem;
}

.roll-dices-btn {
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-family: 'Suez One', sans-serif;
  font-size: 1.1rem;
  transition: 0.2s all;
}

.roll-dices-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.stats-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-stats {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  padding: 5px;
}

.rolls-counter, .score {
  padding: 5px 8px;
  border-radius: 4px;
}

.sub {
  text-decoration: underline;
  font-weight: bold;
  line-height: 2;
}

.rolls-counter-number, .score-text {
  text-transform: uppercase;
}

.score {
  background: rgb(79, 78, 78);
  color: #fff;
}

.old-score {
  text-decoration: line-through;
}

.message {
  font-style: italic;
  font-size: 1rem;
}



